*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(207, 207, 207);
}

.title-container {
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 4vw;
  color: #333;
  margin-top: 50px;
}

h2 {
  font-size: 2vw;
  color: #333;
  margin: 40px;
}

.mosaic-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 50px;
}

.mosaic-item {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.mosaic-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.mosaic-item:hover {
  transform: scale(1.7);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mosaic-item .overlay-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  text-align: center;
  opacity: 0;
}

.mosaic-item.active img {
  filter: brightness(0.4);
}

.mosaic-item img:hover {
  filter: brightness(0.4);
}

.mosaic-item.active .overlay-text {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}